@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap");
@import "tailwindcss";

@font-face {
	font-family: "Iosevka";
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: url("https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-400-normal.woff2")
		format("woff2");
}

@font-face {
	font-family: "Iosevka";
	font-style: normal;
	font-display: swap;
	font-weight: 500;
	src: url("https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-500-normal.woff2")
		format("woff2");
}

@font-face {
	font-family: "Iosevka";
	font-style: normal;
	font-display: swap;
	font-weight: 700;
	src: url("https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-700-normal.woff2")
		format("woff2");
}

html,
body {
	background-color: #0f0f0f;
}

body {
	font-family: "Iosevka", "Funnel Display", system-ui, sans-serif;
	margin: 0;
	padding: 0;
}

@keyframes ringShake {
	0%,
	40%,
	100% {
		transform: rotate(0deg);
	}
	5%,
	15%,
	25% {
		transform: rotate(-10deg);
	}
	10%,
	20%,
	30% {
		transform: rotate(10deg);
	}
}

.animate-ring-shake {
	animation: ringShake 2s ease-in-out infinite;
}
